.header {
    padding: 40px 0;

    &__logo {
        font-size: 20px;
        font-weight: 600;

        :hover {
            text-decoration: underline;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navs {
        display: flex;
        align-items: center;
        gap: 22px;

        &-list {
            display: flex;
            align-items: center;
            gap: 22px;
            font-size: 20px;
        }
        *,
        *:after,
        *::before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        section {
            margin: 0 auto;
            padding: 10em 3em;
            text-align: center;
        }
        .color-11 {
            background: #aab7b7;
        }
        nav a {
            position: relative;
            display: inline-block;
            margin: 15px 25px;
            outline: none;
            color: var(--text-color);
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            text-shadow: 0 0 1px rgba(255,255,255,0.3);
            font-size: 1.35em;
        }
        nav a:hover,
        nav a:focus {
            outline: none;
        }

        /* Effect 16: fall down */
        .cl-effect-16 a {
            // color: var(--background-color);
            text-shadow: 0 0 1px rgba(111,134,134,0.3);
        }

        .cl-effect-16 a::before {
            color: var(--border-color);
            content: attr(data-hover);
            position: absolute;
            opacity: 0;
            text-shadow: 0 0 1px rgba(255,255,255,0.3);
            -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
            -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
            transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
            -moz-transition: -moz-transform 0.3s, opacity 0.3s;
            transition: transform 0.3s, opacity 0.3s;
            pointer-events: none;
        }

        .cl-effect-16 a:hover::before,
        .cl-effect-16 a:focus::before {
            -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
            -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
            transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
            opacity: 1;
        }
    }

    .btn {
        width: 96px;
        height: 40px;
    }

    .switch {
        &-toggles {
            width: 96px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--text-color);
            color: var(--background-color);
            border-radius: 45px;
            padding: 8px 16px;
            font-size: 24px;
            position: relative;
            &:hover {
                cursor: pointer;
            }
            &::after {
                content: '';
                position: absolute;
                background-color: var(--background-color);
                width: 24px;
                height: 24px;
                border-radius: 100%;
                top: 8px;
                right: 15px;
                left: auto;
                transition: all .3s ease-in-out;
            }
            .day, .night { height: 24px; }
        }
    }
    .mini-switch {
        width: 40px;
        height: 20px;
        background-color: var(--text-color);
        color: var(--background-color);
    }
}

.btn-secondary {
    display: none;
}

@media screen and (width <= 425px) {
    .btn-primary {
        display: none;
    }
    .btn-secondary {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        background-color: var(--text-color);
        color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: var(--background-color);
            color: var(--text-color);
            border: 1px solid var(--text-color);
        }
    }
    .header__navs {
        .switch {
            .switch-toggles {
                width: 70px;
                height: 30px;
                padding: 8px;
                &::after {
                    width: 22px;
                    height: 22px;
                    top: 4px;
                    right: 6px;
                    left: 6px;
                }
            }
            .day, .night {
                height: 18px;
                font-size: 18px;
            }
        }
    }
  }