.header {
    background-color: var(--dark-10);
    &__wrapper {
        padding: 1.65rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
    }

    &__navs {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        font-size: 18px;
        font-weight: 300;
    }

    &__cta {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .switch {
        &-toggles {
            width: 96px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--title-color);
            color: var(--background-color);
            border-radius: 45px;
            padding: 8px 16px;
            font-size: 24px;
            position: relative;
            &:hover {
                cursor: pointer;
            }
            &::after {
                content: '';
                position: absolute;
                background-color: var(--background-color);
                width: 24px;
                height: 24px;
                border-radius: 100%;
                top: 8px;
                right: 15px;
                left: auto;
                transition: all .3s ease-in-out;
            }
            .day, .night { height: 24px; }
        }
    }
    .mini-switch {
        width: 40px;
        height: 20px;
        background-color: var(--text-color);
        color: var(--background-color);
    }
}

.btn-secondary {
    display: none;
}

@media screen and (width <= 480px) {
    .header {
        &__navs-list, &__logo {
            font-size: 16px;
        }
    }
    .create {
        display: none;
    }
    .btn-secondary {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        background-color: var(--text-color);
        color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: var(--background-color);
            color: var(--text-color);
            border: 1px solid var(--text-color);
        }
    }
    .switch {
        .switch-toggles {
            width: 64px;
            height: 30px;
            padding: 8px;
            &::after {
                width: 22px;
                height: 22px;
                top: 4px;
                left: 6px;
            }
            .day, .night {
                height: 18px;
                font-size: 18px;
            }
        }
    }
}

@media screen and (width <= 375px) {
    .header {
        &__navs-list, &__logo {
            font-size: 14px;
            gap: 15px;
        }
        &__logo {
            width: 75px;
            word-break: break-word;
        }
    }
}