.homebanner {

  .top-section {
    display: grid;
    grid-template-columns: 60% 40%;

    .left-column {
      display: grid;
      grid-template-rows: auto auto;
      border-right: 1px solid var(--dark-15);

      .block-1 {
        height: 34.875rem;
        padding: 9.375rem 3.125rem 6.25rem 10.125rem;
        background-color: var(--dark-08);
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    
        &-text-container {
          display: flex;
          flex-direction: column;
          gap: 1.25rem;
        }

        .hero-heading-1 {
          font-family: Kumbh Sans;
          font-weight: 500;
          font-size: 4.375rem;
          line-height: 120%;
        }
      
        .hero-text-1 {
          font-family: Kumbh Sans;
          color: var(--dark-40);
          font-weight: 500;
          font-size: 1.875rem;
          line-height: 120%;
        }
      
        .hero-paragraph-1 {
          font-family: Kumbh Sans;
          color: var(--grey-50);
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 150%;
        }
      }

      .small-blocks {
        display: flex;
        border-top: 1px solid var(--dark-15);
  
        .block {
          flex: 1;
          border-right: 1px solid var(--dark-15);
          &:last-child {
            border-right: none;
          }
        }

        .block-3,
        .block-4,
        .block-5 {
          background-color: var(--dark-08);
          height: 12.313rem;
          padding: 3.125rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.625rem;
          flex: 1;
          border-right: 1px solid var(--dark-15);
        }
      
        .block-3 {
          padding-left: 10.125rem;
        }

        .hero-heading-345 {
          font-family: Inter;
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 150%;
      
          span {
            color: var(--yellow-55);
          }
        }
      
        .hero-parapgraph-345 {
          font-family: Inter;
          color: var(--grey-60);
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 150%;
        }
      }
    }

    .block-2 {
      grid-column: 2;
      grid-row: 1 / 3;
      background-color: var(--dark-08);
      position: relative;
      overflow: hidden;
      padding: 24.688rem 10.125rem 4.7rem 4.7rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
  
      &-abstract {
        position: absolute;
        top: -5%;
        left: -9%;
        transform: rotate(35.39deg);
        width: 55.875rem;
        z-index: 1;
      }
  
      &-text-container {
        width: max-content;
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
        z-index: 2;

        .hero-heading-2 {
          font-family: Inter;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 150%;
        }
      
        .hero-paragraph-2 {
          font-family: Inter;
          color: var(--grey-60);
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 150%;
        }
      }
  
      &-avatars {
        width: fit-content;
        display: flex;
        align-items: center;
        padding: 0.625rem;
        background-color: var(--dark-10);
        box-sizing: border-box;
        border: 2px solid var(--dark-15);
        border-radius: 100px;
        z-index: 2;
      }
  
      .avatar-list {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid var(--dark-40);
        background-color: var(--dark-15);
        margin-left: -10px;
      }
  
      .avatar-list:first-child {
        margin-left: 0;
      }
    }
  }

  .bottom-section {
    display: flex;
    border-top: 1px solid var(--dark-15);

    .block {
      flex: 1;
      border-right: 1px solid var(--dark-15);

      &:last-child {
        border-right: none;
      }
    }

    .block-6,
    .block-7,
    .block-8 {
      background-color: var(--dark-08);
      height: 18.75rem;
      padding: 3.125rem 5rem 3.125rem 3.125rem;
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
      flex: 1;
      border-right: 1px solid var(--dark-15);
      border-bottom: 1px solid var(--dark-15);
      img {
        width: 52px;
        height: 52px;
      }
    }
  
    .block-6 {
      padding-left: 10.125rem;
    }

    .hero-text-container-678 {
      display: flex;
      justify-content: space-between;
  
      .action-btn {
        padding: 0;
        background-color: transparent;
        border: none;

        &:hover {
          box-shadow: none;
        }
      }
    }
  
    .hero-heading-678 {
      font-family: Inter;
      color: white;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 150%;
    }
  
    .hero-paragraph-678 {
      font-family: Inter;
      color: var(--grey-50);
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 150%;
    }
  
    .hero-text-678 {
      font-family: Kumbh Sans;
      color: var(--grey-60);
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 150%;
    }
  }

}

.homefeatures {
  
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  gap: 0;
  background-color: var(--dark-08);

  &-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-title-1,
  &-title-2 {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  &-description-1,
  &-description-2 {
    padding: 5rem 10rem 5rem 5rem;

    .inner-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1.875rem;
      height: 100%;
    }
    
    .inner-block {
      background-color: var(--dark-10);
      padding: 2.5rem;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      justify-content: center;
      min-height: 80px;
      &-heading {
        font-family: Inter;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 150%;
      }
      &-paragraph {
        font-family: Inter;
        color: var(--grey-60);
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 150%;
      }
    }
  }

  &-title-1 {
    grid-column: 1;
    grid-row: 1;
    border-right: 1px solid var(--dark-15);
    border-bottom: 1px solid var(--dark-15);
  }

  &-description-1 {
    grid-column: 2;
    grid-row: 1;
    border-bottom: 1px solid var(--dark-15);
  }

  &-title-2 {
    grid-column: 1;
    grid-row: 2;
    border-right: 1px solid var(--dark-15);
  }

  &-description-2 {
    grid-column: 2;
    grid-row: 2;
  }

  &-heading {
    font-family: Kumbh Sans;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 150%;
  }

  &-paragraph {
    font-family: Inter;
    color: var(--grey-60);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 150%;
  }
}

.homeblogs {
  background-color: var(--dark-08);
  border-top: 1px solid var(--dark-15);

  &-filter {
    padding: 3.125rem 10rem;
    display: flex;
    gap: 1.25rem;
    border-top: 1px solid var(--dark-15);
    border-bottom: 1px solid var(--dark-15);
  }

  .filter-btn {
    flex: 1;
    justify-content: center;
    padding: 1.875rem 1.5rem;
    box-sizing: border-box;
    border: 1px solid var(--dark-15);

    &:hover {
     box-shadow: none;
    }
  }

  .filter-btn.active {
    color: white;
    background-color: var(--dark-10);
  }

  .posts-empty {
    padding: 5rem 0;
    text-align: center;
    font-size: 1.5rem;
  }
}

.homeresources {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  gap: 0;
  background-color: var(--dark-08);

  &-title-1,
  &-title-2 {
    padding: 9.719rem 5rem 9.719rem 10.125rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    border-right: 1px solid var(--dark-15);

    img {
      width: 5rem;
      height: 5rem;
      object-fit: contain;
    }
  }

  &-title-1 {
    grid-column: 1;
    grid-row: 1;
    border-bottom: 1px solid var(--dark-15);
  }

  &-title-2 {
    grid-column: 1;
    grid-row: 2;
  }

  &-description-1,
  &-description-2 {
    padding: 5rem 10.125rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &-description-1 {
    grid-column: 2;
    grid-row: 1;
    border-bottom: 1px solid var(--dark-15);
  }

  &-description-2 {
    grid-column: 2;
    grid-row: 2;
  }

  &-title-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .action-btn {
      width: auto;
      justify-content: center;
      max-height: 63px;
      background-color: var(--dark-10);
      
      img {
        width: 24px;
      }
    }
  }

  &-title-downloads {
    background-color: var(--dark-10);
    padding: 1.875rem;
    border: 0.5px solid var(--dark-15);
    border-radius: 13px;
    display: flex;
    gap: 3.125rem;
    width: fit-content;

    .homeresources-content {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .homeresources-heading {
      font-family: Inter;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.5;
      color: var(--grey-60);
    }

    .homeresources-text {
      font-family: Inter;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.5;
    }
    
    .homeresources-downloaded-avatars {
      width: fit-content;
      display: flex;
      align-items: center;
      padding: 0.625rem;
      background-color: var(--dark-08);
      border-radius: 12px;
      z-index: 2;

      .avatar-list {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid var(--dark-40);
        background-color: var(--dark-15);
        margin-left: -10px;
      }

      .avatar-list:first-child {
        margin-left: 0;
      }
    }
  }

  &-title-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-heading {
    font-family:
      Kumbh Sans,
      sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.4;
    color: var(--white);
  }

  &-paragraph {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--grey-60);
  }

  &-description-info-1 {
    display: flex;
    gap: 4.063rem;
    align-items: center;

    .homeresources-description-heading-1 {
      text-wrap: nowrap;
      font-family: Inter;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 150%;
    }

    .homeresources-description-text-1 {
      font-family: Inter;
      color: var(--grey-60);
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &-description-info-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.25rem;

    .homeresources-total,
    .homeresources-downloads {
      padding: 1.875rem;
      background-color: var(--dark-10);
      border: 1px solid var(--dark-15);
      border-radius: 13px;
    }

    .homeresources-downloads {
      display: flex;
      justify-content: space-between;
    }
    .homeresources-description-heading-2 {
      font-family: Inter;
      color: var(--grey-60);
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 150%;
    }
    .homeresources-description-text-2 {
      font-family: Inter;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 150%;
    }
  }

  &-description-info-3 {
    padding: 1.875rem;
    background-color: var(--dark-10);
    border: 1px solid var(--dark-15);
    border-radius: 13px;
    .homeresources-description-heading-3 {
      font-family: Inter;
      color: var(--grey-60);
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 150%;
    }
    .homeresources-description-text-3 {
      font-family: Inter;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 150%;
    }
  }
}

.hometestimonials {
  background-color: var(--dark-08);
  display: grid;
  grid-template-columns: 1fr 0.85fr 1fr;

  &-item {
    border-right: 1px solid var(--dark-15);
    border-bottom: 1px solid var(--dark-15);
    padding: 6rem 4rem;      

    &.item-1,
    &.item-4 {
      padding-left: 10.125rem;
    }

    &.item-3,
    &.item-6 {
      padding-right: 10.125rem;
      border-right: none;
    }

    .content-wrapper {
      width: 100%;
      max-width: 38rem;              
      margin: 0 auto;                
    }

    display: flex;
    justify-content: center;

    &-person-info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      width: 100%;
    }

    &-person-comment {
      margin-top: 3.75rem;
      background-color: var(--dark-10);
      border: 0.5px solid var(--dark-15);
      border-radius: 12px;
      padding: 3.125rem 1.875rem 1.875rem;
      position: relative;
      width: 100%;

      .rating-wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--dark-08);
        padding: 0.625rem 1rem;
        border: 1px solid var(--dark-15);
        border-radius: 100px;
        z-index: 10;
      }

      .person-comment {
        text-align: center;
      }
    }
  }
}

@media screen and (width <= 480px) {
  .title-sm {
    font-size: 20px;
  }
  .posts__wrapper {
    flex-direction: column;
  }
}
