.hero-grid {
    margin-top: 30px;
    margin-bottom: 60px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 2em;
    }

    .post-item {
        width: 100%;
        height: auto;
        grid-column: span 1;
        grid-row: span 1;
    }

    .post-item--sm {
        grid-column: span 1;
        grid-row: span 4;
    }

    /* Средние элементы */
    .post-item--md {
        grid-column: span 3;
        grid-row: span 1;
    }

    /* Крупные элементы */
    .post-item--lg {
        grid-column: span 2;
        grid-row: span 2;
    }

    .title-sm {
        font-weight: 600;
    }
}
