@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: --dark-08;
    --text-color: #fff;
    --border-color: --dark-15;
    --blog-text-color: #C0C5D0;
    --comment-border-color: rgb(255 255 255 / 54%);
    --dark-08: #141414;
    --dark-10: #1A1A1A;
    --dark-15: #262626;
    --dark-20: #333333;
    --dark-25: #404040;
    --dark-30: #4D4D4D;
    --dark-35: #595959;
    --dark-40: #666666;
    --yellow-55: #FFD11A;
    --yellow-60: #FFD633;
    --yellow-70: #FFE066;
    --yellow-80: #FFEB99;
    --yellow-90: #FFF5CC;
    --yellow-95: #FFFAE5;
    --yellow-97: #FFFCF0;
    --yellow-99: #FBFBFE;
    --grey-50: #7E7E81;
    --grey-60: #98989A;
    --grey-70: #B3B3B3;
    --grey-80: #CCCCCC;
    --grey-90: #E4E4E7;
    --grey-95: #F1F1F3;
    --grey-97: #F7F7F8;
    --grey-99: #FCFCFD;
}

[data-theme="dark"] {
    --background-color: #090D1F;
    --text-color: #fff;
    --border-color: rgb(255 255 255 / 54%);
    --blog-text-color: #C0C5D0;
    --comment-border-color: rgb(255 255 255 / 54%);

    .switch-toggles::after {
        left: 15px !important;
        right: auto !important;
    }
    @media screen and (width <= 480px) {
        .switch-toggles::after {
            width: 22px;
            height: 22px;
            left: 37px !important;
        }
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color .3s, color .3s;
}

h1, h2, h3, h4 , p{
    margin: 0;
    padding: 0;
    color: var(--title-color);
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .2s linear;

    &:hover {
        opacity: .8;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 10rem;
}

.btn {
    background-color: var(--yellow-55);
    padding: 0.875rem 1.25rem;
    color: #141414;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

.action-btn {
    font-family: Inter;
    width: fit-content;
    padding: 1.125rem 1.5rem;
    font-size: 1.125rem;
    background-color: transparent;
    color: var(--grey-60);
    font-weight: 400;
    line-height: 150%;
    border: 0.5px solid var(--grey-60);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;
}

.title-wrapper {
    padding: 7.5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-10);
}

.title-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-tag {
    width: fit-content;
    padding: 0.375rem 0.625rem;
    background-color: var(--dark-20);
    border-radius: 0.25rem;
    font-family: Inter;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
}

.title-text {
    font-family: Kumbh Sans;
    color: white;
    font-weight: 500;
    font-size: 3.625rem;
    line-height: 130%;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.posts__wrapper {
    gap: 30px;
    margin-top: 50px;
}

.forms {
    height: 100vh;
    position: relative;

    &__wrapper {
        display: flex;
    }

    &__illustration {
        width: 50%;
        background-color: #6EABCD;
        padding-top: 100px;

        &-txt {
            padding: 0 50px;
            margin-bottom: 50px;
        }
    }

    .form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 400px;
    }

    .btn {
        width: 100%;
    }

    .field {
        width: 100%;
    }

    .switch-form {
        display: block;
        font-size: 13px;
        background-color: var(--background-color);
        border: none;
        cursor: pointer;
        color: var(--text-color);
    }

    i {
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
        font-style: normal;
    }
}

.password {
    position: relative;

    .btn-showpassword {
        position: absolute;
        top: 25%;
        right: 2%;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: var(--text-color);
    }
}

.post-item.post-item--sm.row {
    .post-item__info-author {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        * {
            width: 100%;
        }
    }

    .post-item__image {
        height: 100%;
        max-height: 250px;
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer {
    padding: 30px 0;

    .cta {
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--text-color);
        border-top: solid 1px var(--border-color);
    }

    &-cta:hover {
        text-decoration: underline;
    }
}

.sign-up-button {
    display: flex;
    align-items: center;
    .switch-form {
        font-weight: bold;
        text-decoration: underline;
        font-size: 15px;
    }
}

@media screen and (width <= 1199px) {

    .hero-grid__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

    }

    .post-item.post-item--md {
        width: 100%;

        .post-item__image {
            height: 100%;
            max-height: 300px;
        }
    }

    .post-item.post-item--lg {
        width: 100%;

        .post-item__image {
            height: 100%;
            max-height: 400px;
        }
    }

    .post-item.post-item--sm.row {
        width: calc(50% - 20px);

        .post-item__image {
            height: 100%;
            max-height: 90%;
        }
    }
}

@media screen and (width <= 1024px) {
    .post-item.post-item--sm.row {
        width: 100%;
        .post-item__info-author {
            flex-wrap: nowrap;
            width: 50%;
            span {
                &::after {
                    left: calc(89% + 10px);
                }
                }
        }
    }

    .post-item.post-item--md .post-item__image {
        height: 100%;
        max-height: 200px;
    }
}

@media screen and (width <= 768px) {
    .forms {
        .form-col {
            width: 300px;
        }
    }
    .post-item.post-item--sm.row {
        .post-item__info-author {
            width: 67%;
        }
    }
}

@media screen and (width <= 480px) {
    .forms__illustration {
        display: none;
    }
    .forms {
        &__wrapper {
            position: relative;
            min-height: 100vh;
            &::before {
                content: "";
                position: absolute;
                bottom: -5.8%;
                left: 50%;
                transform: translateX(-50%);
                height: 100vh;
                width: 100%;
                background: url('../assets/login_illustration.svg') no-repeat center bottom;
                background-size: contain;
                z-index: -1;
              }
        }   
        .form {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 275px;
        }
    }
    .post-item.post-item--sm.row {
        .post-item__info-author {
            width: 115%;
        }
    }
}

@media screen and (width <= 320px) {
    .forms {
        .form-col {
            width: 260px;
        }
    }
}