.post-detail__wrapper {
  display: flex;
  gap: 50px;
}
.post-detail__wrapper img {
  max-height: inherit;
}

.single-post__wrapper {
  width: 70%;
  margin: 20px auto;
}
.single-post__wrapper .likes-amount {
  display: flex;
  align-items: center;
  gap: 5px;
}
.single-post-heading h4 {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #667085;
}
.single-post-title {
  margin: 32px 0;
}
.single-post-author {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 700;
  color: #6941C6;
}
.single-post-image {
  width: 95%;
}
.single-post-image img {
  height: 400px;
}

.comments-input-box {
  background: var(--background-color);
  border: 1px solid var(--comment-border-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
.comments-input-box textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  resize: none;
}
.comments-input-box-actions {
  display: flex;
  gap: 10px;
}
.comments-input-box .submit-button {
  width: 20%;
  background: #000;
  background-color: var(--text-color);
  color: var(--background-color);
  border: 1px solid var(--text-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.comments-input-box .submit-button:hover {
  color: var(--text-color);
  background-color: var(--background-color);
  border-color: var(--border-color);
}
.comments-box {
  background: var(--background-color);
  border: 1px solid var(--comment-border-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin-top: 30px;
}
.comments-box .comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}
.comments-box .comment-text {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.comments-box .comment-text .text {
  width: 100%;
}
.comments-box .comment-actions {
  display: flex;
  gap: 10px;
}
.comments-box .comment-actions button {
  font-family: "Inter", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 16px;
}
.comments-box .comment-actions button:hover {
  text-decoration: underline;
}
.comments-box .comment-like {
  display: flex;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.modal svg {
  float: right;
}
.modal-buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.modal-buttons .btn-modal {
  height: 40px;
  min-width: 90px;
}
.modal-buttons .btn-modal:hover {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media screen and (width <= 768px) {
  .post-detail__wrapper {
    flex-direction: column-reverse;
  }
  .single-post__wrapper {
    width: 100%;
  }
  .single-post-image {
    text-align: center;
  }
  .recent-posts {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (width <= 480px) {
  .single-post-image img {
    height: 100%;
  }
}/*# sourceMappingURL=postDetail.css.map */