.posts {
    background-color: var(--background-color);

    &__title {
        padding-top: 8.125rem;
        padding-bottom: 9.375rem;
        border-bottom: 1px solid var(--dark-15);
    }

    .banner {
        h1 {
            font-family: Kumbh Sans;
            font-size: 5rem;
            line-height: 1.3;
            font-weight: 500;
        }

        p {
            font-family: Inter;
            font-size: 1.125rem;
            line-height: 1.5;
            font-weight: 400;
            color: var(--grey-60);
        }

        .subbanner {
            display: flex;
            align-items: center;
            gap: 5rem;
        }
    }

    &__recent {
        padding: 5rem 0;
        border-bottom: 1px solid var(--dark-15);
    }

    &__list {
        padding: 5rem 0;
        display: flex;
        gap: 1.875rem;
        .post-item--list:first-child {
            padding-left: 10rem;
        }
        .post-item--list:last-child {
            padding-right: 10rem;
        }
    }
}