.post-detail__wrapper {
    display: flex;
    gap: 50px;
    img {
        max-height: inherit;
    }
}
.single-post {
    &__wrapper {
        width: 70%;
        margin: 20px auto;
    }

    &-heading {
        h4 {
            display: flex;
            gap: 10px;
            align-items: center;
            color: #667085;
        }
    }

    &-title {
        margin: 32px 0;
    }

    &-author {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 700;
        color: #6941C6;
    }

    &-image {
        width: 95%;

        img {
            height: 400px;
        }
    }
}