 .single-post {
    background-color: var(--dark-08);

    &-heading-container {
        display: grid;
        align-items: end; // Заголовок прижимается к низу контейнера
        justify-items: center; // Заголовок центрируется по горизонтали
        width: 100vw; // На всю ширину экрана
        height: 600px; // Фиксированная высота
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        overflow: hidden;
        border-bottom: 0.5px solid var(--dark-15);;

        &::after {
            content: '';
            grid-area: 1 / 1 / 2 / 2;
            z-index: 2;
            background: linear-gradient(to top, rgba(0,0,0,1) 0%, transparent 76%);
            pointer-events: none;
            width: 100%;
            height: 100%;
        }

        // Слой 1: Картинка и Заголовок в одной ячейке
        & > * {
            grid-area: 1 / 1 / 2 / 2; 
        }
    }

    &-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

    &-title {
        z-index: 3; // Текст поверх картинки
        font-family: Inter, sans-serif;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #fff;
        text-align: center;
        padding-bottom: 65px; // Твой отступ снизу
        max-width: 1440px; // Ограничение ширины текста для красоты
        margin: 0;
        // Тень, чтобы текст читался на любом фоне картинки
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        position: relative;
        border-bottom: 0.5px solid var(--dark-15);;
    }

    &__content {
        flex: 2; 
        min-width: 0;
        padding: 5rem 5rem 5rem 0;
        border-right: 0.5px solid var(--dark-15);

        position: relative;

        .content-clipper {
            position: relative;
            transition: max-height 0.5s ease-in-out;
    
            &.clipped {
                max-height: 80vh;
                overflow: hidden;
            }
        }

        .read-more-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 250px; // Высота градиента затемнения
            display: flex;
            align-items: center;
            justify-content: center;
            
            // Плавное затемнение текста в цвет фона (dark-08)
            background: linear-gradient(to bottom, transparent 0%, var(--dark-08) 77%);
            pointer-events: none; // Чтобы градиент не мешал кликам по тексту выше
    
            .action-btn {
                pointer-events: auto; // А кнопка должна быть кликабельной
                z-index: 10;
                // Можно добавить специфичные стили для этой кнопки
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
                background-color: var(--dark-08);
                border-color: var(--dark-15);
                color: var(--grey-60);
                font-size: 1.125rem;
                line-height: 1.5;
                font-weight: 400;
                padding: 0.875rem 1.5rem;
    
                &:hover {
                    background-color: var(--yellow-55);
                    color: var(--dark-08);
                }
            }
        }

        h1, h2, h3, h4 {
            margin-top: 2.5rem;    // Отступ СВЕРХУ от предыдущего текста
            margin-bottom: 1.5rem; // Тот самый "пустой пролет" ПОСЛЕ заголовка
            font-size: 1.75rem;
            font-weight: 500;
            line-height: 1.5;
            color: #fff;
        }
    
        // Отступы между обычными абзацами
        p {
            margin-bottom: 1.25rem; 
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.5;
        }
    }

    &__details {
        flex: 1;
        position: sticky;
        top: 2rem;
        width: 350px;
        flex-shrink: 0;
        transition: all 0.3s ease;

        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 3.125rem 0 5rem 5rem;

        .cta-counters {
            padding-bottom: 3.125rem;
            display: flex;
            gap: 0.875rem;
            border-bottom: 0.5px solid var(--dark-15);
            .counts {
                display: flex;
                gap: 0.25rem;
                align-items: center;
                padding: 0.625rem 1.5rem;
                background-color: var(--dark-10);
                font-family: Kumbh Sans;
                font-size: 1.125rem;
                color: var(--grey-60);
                font-weight: 400;
                line-height: 150%;
                border-radius: 100px;
                border: 1px solid var(--dark-15);
                img {
                    width: 2.125rem;
                }
                &:not(:nth-child(2)) {
                    cursor: pointer;
                }
            }
        }

        .info {
            display: flex;
            gap: 1.875rem;
            flex-wrap: wrap;
            &-text {
                display: flex;
                flex-direction: column;
                row-gap: 0.625rem;
                width: 13.125rem;
 
                p, span {
                    font-family: Inter, sans-serif;
                    font-size: 1.125rem;
                    font-weight: 400;
                    line-height: 1.5;
                }

                p {
                    color: var(--grey-60);
                }

                span {
                    font-weight: 500;
                }
            }
        }

        .table-contents {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            p {
                color: var(--grey-60);
            }

            .content-list {
                margin: 0;
                background-color: var(--dark-10);
                border-radius: 12px;
                padding: 1.25rem 1.25rem 1.25rem 2.5rem;
                list-style-type: disc;
                
                .content-link {
                    background: none;
                    border: none;
                    text-align: left;
                    cursor: pointer;
                    color: var(--text-color);
                    font-size: 1.125rem;
                    transition: color 0.2s ease;
                    text-decoration: none;
                    font-family: Inter, sans-serif;
                    line-height: 1.5;
                    font-weight: 400;
                    &:hover {
                        color: var(--yellow-55);
                        text-decoration: underline;
                    }
                }
            }
        }

        .post-cta {
            display: flex;
            gap: 1rem;
        }
    }

    .similar-posts {
        display: flex;
        flex-direction: column;
        row-gap: 3.75rem;
        padding: 5rem 0;
        .recommended-posts-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-family: Kumbh Sans;
                font-size: 1.75rem;
                font-weight: 500;
                line-height: 1.3;
                color: var(--grey-80);
            }
        }
    }
}

.comments {
    &-input-box {
        background: var(--background-color);
        border: 1px solid var(--comment-border-color);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
        max-width: 700px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0;

        textarea {
            width: 100%;
            height: 80px;
            padding: 10px;
            border: 1px solid var(--border-color);
            border-radius: 5px;
            resize: none;
        }

        &-actions {
            display: flex;
            gap: 10px;
        }

        .submit-button {
            width: 20%;
            background: #000;
            background-color: var(--text-color);
            color: var(--background-color);
            border: 1px solid var(--text-color);
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .submit-button:hover {
            color: var(--text-color);
            background-color: var(--background-color);
            border-color: var(--border-color);
        }
    }

    &-box {
        background: var(--background-color);
        border: 1px solid var(--comment-border-color);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
        max-width: 900px;
        margin-top: 30px;

        .comment-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .comment-text {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            .text {
                width: 100%;
            }
        }

        .comment-actions {
            display: flex;
            gap: 10px;
        }

        .comment-actions button {
            font-family: "Inter", sans-serif;
            background: none;
            border: none;
            cursor: pointer;
            color: var(--text-color);
            font-size: 16px;
        }

        .comment-actions button:hover {
            text-decoration: underline;
        }

        .comment-like {
            display: flex;
            align-items: center;
        }
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-10);
    padding: 1.25rem;
    border: 1px solid var(--grey-60);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    svg {
        cursor: pointer;
        align-self: flex-end;
        color: var(--grey-50);
    }

    &-buttons {
        display: flex;
        justify-content: end;
        gap: 20px;
        .btn-modal {
            height: 40px;
            min-width: 90px;
            &:hover {
                background-color: var(--background-color);
                color: var(--text-color);
                border: 1px solid var(--border-color);
            }
        }
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 50%);
    z-index: 999;
}

@media screen and (width <= 768px) {
    .post-detail__wrapper {
        flex-direction: column-reverse;
    }
    .single-post__wrapper {
        width: 100%;
    }
    .single-post-image {
        text-align: center;
    }
    .recent-posts {
        display: flex;
        flex-wrap: wrap;
    }
}

.post-sidebar {
    position: sticky;
    top: 100px;
    align-self: flex-start;
    width: 300px;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    padding: 20px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__actions {
        margin-top: auto;
    }

    &__share-btn {
        width: 100%;
        padding: 12px;
        background-color: var(--text-color);
        color: var(--background-color);
        border: 1px solid var(--text-color);
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 16px;
        transition: all 0.3s ease;

        &:hover {
            background-color: var(--background-color);
            color: var(--text-color);
        }

        &--active {
            background-color: #6941C6;
            border-color: #6941C6;
            color: white;

            &:hover {
                background-color: #5a35a8;
                border-color: #5a35a8;
            }
        }
    }
}

.post-meta {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--grey-50);
        font-size: 14px;

        svg {
            color: #667085;
        }
    }
}

.post-toc {
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
        color: var(--text-color);
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__item {
        padding-left: 0;

        &--level-1 {
            padding-left: 0;
        }

        &--level-2 {
            padding-left: 0;
        }

        &--level-3 {
            padding-left: 30px;
        }

        &--level-4 {
            padding-left: 45px;
        }

        &--level-5 {
            padding-left: 60px;
        }

        &--level-6 {
            padding-left: 75px;
        }
    }

}

@media screen and (width <= 1024px) {
    .post-sidebar {
        width: 250px;
    }
}

@media screen and (width <= 768px) {
    .post-detail__wrapper {
        flex-direction: column-reverse;
    }
    .single-post__wrapper {
        width: 100%;
    }
    .single-post-image {
        text-align: center;
    }
    .recent-posts {
        display: flex;
        flex-wrap: wrap;
    }
    .post-sidebar {
        position: relative;
        top: 0;
        width: 100%;
        max-height: none;
        margin-top: 30px;
    }
}

@media screen and (width <= 480px) {
    .single-post-image {
        img {
            height: 100%;
        }
}
}