.post-item {
    background-color: var(--dark-08);
    padding: 5rem 10rem;
    border-bottom: 1px solid var(--dark-15);
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-author {
        display: flex;
        gap: 1rem;
        align-items: center;
        .author-avatar {
            width: 5rem;
            height: 5rem;
            color: var(--avatar-icon-color);
        }
        .author-content {
            .author-name {
                font-family: Inter;
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 150%;
            }
            .post-item-topic {
                font-family: Inter;
                color: var(--grey-60);
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 150%;
            }
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        &-date {
            font-family: Inter;
            color: var(--grey-60);
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 150%;
        }

        .post-item-context {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;

            .post-item-title {
                font-family: Inter;
                font-size: 1.625rem;
                font-weight: 600;
                line-height: 150%;
            }

            .post-item-description {
                font-family: Inter;
                color: var(--grey-60);
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 150%;
            }
        }

        .cta-icons {
            display: flex;
            gap: 0.625rem;

            .cta-btn {
                display: flex;
                gap: 0.25rem;
                align-items: center;
                padding: 0.5rem 1rem;
                background-color: var(--dark-10);
                font-family: Kumbh Sans;
                font-size: 1.125rem;
                color: var(--grey-60);
                font-weight: 400;
                line-height: 150%;
                border-radius: 100px;
                border: 1px solid var(--dark-15);
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}



.skeleton {
    width: calc(33.3% - 20px);

    &-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &-user {
        display: flex;
        gap: 15px;
    }
}

@media (max-width: 1024px) {
    .author-avatar {
        --size: 4rem; // Уменьшаем до ~64px
    }
}