.profile {
    .title-wrapper {
        padding: 3rem 10.125rem;
    }
    &__wrapper {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
        img {
            width: 7rem;
        }

        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.25rem;
        }
    }

    &__posts__title {
        font-family: Kumbh Sans;
        font-size: 2.25rem;
        margin-bottom: 2rem;
    }

    &__posts__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        border-bottom: 1px solid var(--dark-15);
    }
}

@media screen and (width <= 480px) {
    .h1 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
    }
}