.skeleton {
    background: transparent;

    &--post {
        padding: 2rem 10.125rem;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &--video {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .skeleton-video-wrapper {
            position: relative;
            width: 100%;
            padding-top: 56.25%; // 16:9 aspect ratio
            background-color: var(--dark-15);
            border-radius: 8px;
            overflow: hidden;
        }

        .skeleton-video-info {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;
            flex: 1;
        }
    }
}
