.title {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  /* If flex=true => space out each character span */
  .flex {
    display: flex;
    justify-content: space-between;
  }

  /* Stroke class toggles "stroke" effect on each character */
  .stroke span {
    position: relative;
    color: var(--text-color); /* normal text color */
  }
  /* The stroke layer sits behind with text-stroke */
  .stroke span::after {
    content: attr(data-char);
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    z-index: -1;
    /* If you'd like to shift the stroke up/down, you can add transform here */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #ff0000;
  }
  .char {
    display: inline-block;
    color: var(--text-color); // Используем переменную для цвета текста
  
    &.stroke {
      color: transparent; // Если stroke включен, текст становится прозрачным
      -webkit-text-stroke: 1px var(--stroke-color); // Обводка текста
      text-stroke: 1px var(--stroke-color); // Обводка текста (для поддержки в других браузерах)
    }
  }
  /* If stroke=false => no stroke class => normal text color */
  .text-pressure-title {
    color: var(--text-color);
    font-weight: 700;
    font-size: 243px;
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
  }
  h1 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 243px;
    line-height: 1;
    transform: scale(1, 1);
    transform-origin: center top;
    margin: 0;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    font-weight: 100;
    width: 100%;
  }
}

@media screen and (width <= 1440px) {
  .title {
    .text-pressure-title {
      font-size: 205px;
    }
  }
}

@media screen and (width <= 1024px) {
  .title {
    .text-pressure-title {
      font-size: 150px;
    }
  }
}

@media screen and (width <= 768px) {
  .title {
    .text-pressure-title {
      font-size: 90px;
    }
  }
}