.action-btn {
    font-family: Inter;
    width: fit-content;
    padding: 1.125rem 1.5rem;
    font-size: 1.125rem;
    background-color: transparent;
    color: var(--grey-60);
    font-weight: 400;
    line-height: 150%;
    border: 0.5px solid var(--grey-60);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        color: var(--yellow-55);
        border-color: var(--yellow-55);
        background-color: rgba(255, 215, 0, 0.05); // Очень слабый желтый оттенок фона
        box-shadow: 0 0 15px rgba(255, 215, 0, 0.1); // Легкое внешнее свечение
        transform: translateY(-1px);
    }
    
    &:active {
        transform: translateY(0); // Эффект нажатия
    }
}

.action-btn-yellow {
    background-color: var(--yellow-55);
    padding: 0.875rem 1.25rem;
    color: #141414;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid transparent;

    &:hover {
        transform: translateY(-2px); // Легкий подъем
        background-color: #ffe033; // Чуть более яркий желтый
        // Мягкое свечение в цвет кнопки
        box-shadow: 0 8px 20px rgba(255, 215, 0, 0.3);
    }

    &:active {
        transform: translateY(0); // Возврат при клике
        box-shadow: 0 4px 10px rgba(255, 215, 0, 0.2);
    }
}