.action-btn {
    font-family: Inter;
    width: fit-content;
    padding: 1.125rem 1.5rem;
    font-size: 1.125rem;
    background-color: transparent;
    color: var(--grey-60);
    font-weight: 400;
    line-height: 150%;
    border: 0.5px solid var(--grey-60);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    white-space: nowrap;
    cursor: pointer;
}

.action-btn-yellow {
    background-color: var(--yellow-55);
    padding: 0.875rem 1.25rem;
    color: #141414;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}