@import "../../styles/mixins";

.action-btn {
    font-family: Inter;
    width: fit-content;
    padding: 1.125rem 1.5rem;
    font-size: 1.125rem;
    background-color: transparent;
    color: var(--grey-60);
    font-weight: 400;
    line-height: 150%;
    border: 0.5px solid var(--dark-15);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    white-space: nowrap;
    cursor: pointer;
    flex-shrink: 0;

    @include respond-to("xl") {
        padding: 0.875rem 1.3rem;
        font-size: 0.875rem;
        border-radius: 0.5rem;
    }

    @include respond-to("lg") {
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }

    @include respond-to("md") {
        padding: 0.625rem 0.875rem;
        font-size: 0.75rem;
    }

    @include respond-to("sm") {
        width: 100%;
        justify-content: center;
        padding: 0.875rem 0.5rem;
        font-size: 0.875rem;

        img {
            width: 20px;
        }
    }

    @include respond-to("xs") {
        padding: 0.75rem 0.5rem;
        font-size: 0.75rem;

        img {
            width: 16px;
        }
    }

    &:hover {
        color: var(--yellow-55);
        border-color: var(--yellow-55);
        background-color: rgba(255, 215, 0, 0.05);
        box-shadow: 0 0 15px rgba(255, 215, 0, 0.1);
        transform: translateY(-1px);
    }

    &:active {
        transform: translateY(0);
    }
}

.action-btn-yellow {
    background-color: var(--yellow-55);
    padding: 0.875rem 1.25rem;
    color: #141414;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid transparent;

    @include respond-to("xl") {
        padding: 0.75rem 1rem;
    }

    @include respond-to("lg") {
        padding: 0.625rem 0.875rem;
    }

    @include respond-to("md") {
        padding: 0.5rem 0.75rem;

    }

    @include respond-to("sm") {
        padding: 0.4rem 0.5rem;
        font-size: 0.875rem;
    }

    @include respond-to("xs") {
        padding: 0.3rem 0.4rem;
        font-size: 0.75rem;
    }

    &:hover {
        transform: translateY(-2px);
        background-color: #ffe033;
        box-shadow: 0 8px 20px rgba(255, 215, 0, 0.3);
    }

    &:active {
        transform: translateY(0); // Возврат при клике
        box-shadow: 0 4px 10px rgba(255, 215, 0, 0.2);
    }

}