.title {
    background-color: #fff;

    input {
        font-size: 30px;
        font-weight: 500;
    }

    fieldset {
        border-color: var(--border-color);
    }

    div {
        &::before, &::after {
            display: none;
        }
    }
}

.image {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;

    img {
        width: 150px;
        height: auto;
        max-height: 150px;
        object-fit: cover;
    }

    button {
        border-color: var(--border-color);
        color: var(--background-color);
        background-color: var(--text-color);

        &:hover {
            border-color: var(--border-color);
            color: var(--text-color);
            background-color: var(--background-color);
        }
    }
}

.tags {
    margin: 15px 0;

    input {
        margin-top: 5px;
    }

    button {
        border-style: none;
        background-color: white;
    }

    svg {
        fill: black;
        display: flex;
        align-items: center;
    }
}

.editor {
    margin: 30px 0;

    i {
        color: var(--text-color);
    }
}

.buttons {
    display: flex;

    button {
        margin-right: 15px;
        border: 1px solid var(--text-color);
        color: var(--background-color);
        background-color: var(--text-color);

        &:hover {
            border-color: var(--border-color);
            color: var(--text-color);
            background-color: var(--background-color);
        }
    }
}